#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "LeanOS Configuration"

config SRCARCH
	string
	option env="SRCARCH"

source "lib/Kconfig"
source "arch/$SRCARCH/Kconfig"

source "samples/Kconfig"

