config KERNEL_PRINTK
	bool "Enable printing in kernel"
	default y

config KERNEL_LEVEL
	int "Kernel debug level"
	default "7"
	range 0 8
	depends on KERNEL_PRINTK
	help
	 Limit the kernel's debug message level:
	 1: emergency
	 2: alerts
	 3: critical conditions
	 4: error conditions
	 5: warnings
	 6: notices
	 7: informational
	 8: debug

