menu "Core Components"

config SYSCTL
	bool "sysctl interface"
	default y
	help
	  Enable use of the sysctl interface.

config MM
	bool "Memory Management"
	default y
	help
	  Enable use of the memory block management system. See the
	  platform-specific settings menu for configuration options.
	  Please note that the choices you make can have significant impact on
	  the memory footprint of the tracker, since each minimum block unit
	  requires one bit to track its usage status. For example, with an
	  upper block order of 32 and a lower block order of 12, i.e. a memory
	  size of 4 GiB and a page size of 4 kiB requires bit map space of
	  1 MiB.

menu "Memory Management Debug Options"
        depends on MM

config MM_DEBUG_DUMP
	bool "Enable Memory Management debug dump"
	default n
	help
	  Dump allocation info for the memory manager.

config MM_DEBUG_DUMP_ALLOC_BITMAP
	depends on MM_DEBUG_DUMP
	bool "Dump block allocation bitmap"
	default n
	help
	  Dump the granularity-level block allocation bitmap.

config MM_DEBUG_DUMP_BLOCK_ALLLOC
	depends on MM_DEBUG_DUMP
	bool "Dump block allocation orders"
	default n
	help
	  Dump the allocation order for each block at block granularity.

config MM_DEBUG_DUMP_BLOCK_STATS
	depends on MM_DEBUG_DUMP
	bool "Dump block allocation statistics"
	default n
	help
	  Dump the allocation statistics for each block order.
endmenu


config PAGE_MAP
	bool "Page Map"
	depends on MM
	default y
	help
	  Enable page map management. Can hold multiple nodes and returns
	  references to pages as configured per each node.

menu "Page Map Options"
	depends on PAGE_MAP

config PAGE_MAP_CHECK_PAGE_ALIGNMENT
	depends on PAGE_MAP
	bool "Extra check for alignment in page address"
	default n
	help
	  Make sure the address of the allocated page is really aligned
	  to the page size of the underlying memory manager. This does not
	  prevent misconfiguration, just adds a functional verification step.

config PAGE_MAP_MOVE_NODE_AVAIL_THRESH
	depends on PAGE_MAP
	int "Threshold for empty page node to be considered filled again"
	default 1
	range 1 1024
	help
	  When page map node run out of pages, they are moved to a list of
	  empty nodes until a number of pages are freed, defined by the
	  threshold above. If unsure, use a threshold of 1.

endmenu

endmenu
